.project-description {
    padding: 24px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.project-placeholder {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.project-description h2 {
    margin: 0 0 16px 0;
    font-size: 20px;
    color: #fff;
}

.project-description__text {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.6;
    color: #ccc;
    font-size: 14px;
}

.project-description__tools {
    margin: 16px 0;
}

.project-description__tools h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: #820101;
    margin: 0 0 8px 0;
}

.project-description__tools ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.project-description__tools li {
    padding: 4px 12px;
    background: rgba(0, 255, 136, 0.1);
    border: 1px solid #820101;
    border-radius: 999px;
    font-size: 12px;
    color: #820101;
}

.project-description__link {
    margin-top: auto;      /* spinge il link in basso */
    display: inline-block;
    padding: 8px 16px;
    background: #820101;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.project-description__link:hover {
    background: #FFFFFF;
    transform: translateX(2px);
    color: #000;
}

.project-description__video {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}