* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
}


#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-container {
  flex: 1;           
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
